.footer {
    width: 100%;
    float: left;
    z-index: 1;
    margin-top: 0;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/footer-image.png");
}

@media screen and (max-width: 767px) {
    .footer {
        background-image: none;
        background-color: var(--DTPrimaryColor);
    }
}

.footer .section-wrapper {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 0;
}

@media screen and (max-width: 767px) {
    .footer .section-wrapper {
        padding: 0;
    }
}

.footer .footer-top {
    padding-top: 300px;
}

@media screen and (max-width: 1540px) {
    .footer .footer-top {
        padding-top: 250px;  
    }
}

@media screen and (max-width: 1320px) {
    .footer .footer-top {
        padding-top: 220px;  
    }
}

@media screen and (max-width: 1199px) {
    .footer .footer-top {
        padding-top: 180px;  
    }
}

@media screen and (max-width: 767px) {
    .footer .footer-top {
        padding: 0;
    }
}

.footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.footer .footer-top .footer-item {
    width: calc(21% - calc(var(--DTGutter_Width) / 2));
    margin: 15px 0;
    align-self: center;
}

.footer .footer-top .footer-item:last-child {
    width: calc(39% - calc(var(--DTGutter_Width) / 2));
    margin: 15px 0;
}

@media screen and (max-width: 1199px) {
    .footer .footer-top .footer-item {
        width: calc(50% - calc(var(--DTGutter_Width)));
    }
    
    .footer .footer-top .footer-item:last-child {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .footer .footer-top .footer-item {
        width: 100%;
        text-align: center;
    }
}

.footer .footer-content .footer-logo img {
    max-width: 120px;
}

.footer .footer-content .footer-logo p {
    font-size: 26px;
    color: var(--DTSecondaryColor);
    font-family: var(--DTFontTypo_Heading);
    margin-top: 30px;
    display: block;
    margin-bottom: 15px;
}

.footer .social-icons {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .footer .social-icons {
        justify-content: center;
    }
}

.footer .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: var(--DTSecondaryColor);
    border-radius: 50%;
    overflow: hidden;
}

.footer .social-icons a:hover {
    background: var(--DTTertiaryColor);
}

.footer .social-icons a+a {
    margin-left: 10px;
}

.footer .social-icons a img {
    width: 16px;
    height: 16px;
    filter: invert(98%) sepia(2%) saturate(11%) hue-rotate(283deg) brightness(121%) contrast(100%);
}

.footer .social-icons a span {
    font-size: 0;
}

.footer .contact-info {
    color: var(--DTLinkColor);
    margin-bottom: 0;
}

.footer .contact-info .tel a {
    font-size: 21px;
    font-weight: bold;
    color: var(--DTSecondaryColor);
}

.footer .contact-info .tel a:hover {
    color: var(--DTLinkHoverColor);
}

.footer .contact-info li {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer .footer-newsletter {
    background: var(--DTInputBackground);
    border-radius: 50px;
    display: flex;
    overflow: hidden;
    float: left;
    width: 100%;
}

.footer .footer-newsletter form {
    width: 100%;
}

.footer .footer-newsletter input,
.footer .footer-newsletter input:focus {
    padding: 20px 32px;
    border: none;
    background-color: var(--DTInputBackground);
    border-radius: var(--DT_Button_Border_Radius);
}

.footer-newsletter-btn {
    background-color: #e73747;
    color: #ffffff;
    white-space: pre;
    margin: 0;
    border-radius: 0;
}

.footer .footer-bottom {
    display: flex;
    align-items: center;
}

.footer .footer-bottom .footer-content {
    position: relative;
    padding: 10px 0;
}

.footer .footer-bottom .footer-content:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: var(--DTOverlayColor);
}

.footer .footer-bottom .footer-item {
    width: calc(33% - calc(var(--DTGutter_Width) / 2));
    margin: 15px 0;
    align-self: center;
}

.footer .footer-bottom .footer-item:nth-child(2) {
    text-align: center;
}

.footer .footer-bottom .footer-item:last-child {
    text-align: right;
}

@media screen and (max-width: 991px) {
    .footer .footer-bottom .footer-item {
        width: calc(50% - calc(var(--DTGutter_Width)));
    }

    .footer .footer-bottom .footer-item:nth-child(2) {
        text-align: right;
    }

    .footer .footer-bottom .footer-item:last-child {
        text-align: left;
    }
}

@media screen and (max-width: 576px) {
    .footer .footer-bottom .footer-item {
        width: 100%;
        text-align: center;
    }

    .footer .footer-bottom .footer-item:nth-child(2) {
        text-align: center;
    }

    .footer .footer-bottom .footer-item:last-child {
        text-align: center;
    }
}

.footer .footer-bottom .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

@media screen and (max-width: 991px) {
    .footer .footer-bottom .footer-menu {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 576px) {
    .footer .footer-bottom .footer-menu {
        justify-content: center;
    }
}

.footer .footer-bottom .footer-menu li+li {
    margin-left: 20px;
}