.home-promo-banner {
    float: left;
    width: 100%;
}

.section-wrapper {
    float: left;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

section .heading {
    margin-bottom: 50px;
}

section .main-heading {
    margin: 0;
    color: var(--DTSecondaryColor);
}

.relative {
    position: relative;
}

.section-wrapper .specification:before {
    content: "";
    -webkit-mask-image: url("../images/shape-1.png");
    mask-image: url("../images/shape-1.png");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    position: absolute;
    right: -20%;
    width: 350px;
    height: 350px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    top: -30%;
    opacity: 0.5;
    z-index: -1;
    animation: rotation 30s linear infinite, pulse 30s linear infinite;
}

.section-wrapper .specification:after {
    content: "";
    -webkit-mask-image: url("../images/home-background-image-010.png");
    mask-image: url("../images/home-background-image-010.png");
    -webkit-mask-size: 100%;
    mask-size: 100%;
    position: absolute;
    left: -15%;
    width: 150px;
    height: 150px;
    -webkit-mask-repeat: no-repeat;
    bottom: -10%;
    z-index: -1;
    opacity: 0.5;
    animation: rotation 20s linear infinite, pulse 20s linear infinite;
    background: var(--DTPrimaryColor);
}

@media screen and (max-width: 767px) {
    .section-wrapper .specification:before {
        content: none;
    }
    
    .section-wrapper .specification:after {
        content: none;
    }
}

.section-wrapper .promo-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

@media screen and (max-width: 991px) {
    .section-wrapper .promo-block {
        flex-direction: column;
    }
}

.promo-block .images-block {
    width: 50%;
    margin-bottom: 30px;
    margin-left: 0;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    .promo-block .images-block {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 576px) {
    .promo-block .images-block {
        max-width: 300px;
        margin-bottom: 0;
    }
}

.promo-block .text-block {
    width: 45%;
    display: grid;
    row-gap: var(--DTGutter_Width);
}

@media screen and (max-width: 991px) {
    .promo-block .text-block {
        width: 100%;
    }
}

.promo-block .main-heading {
    font-size: 58px;
    margin-bottom: 35px;
    color: var(--DTSecondaryColor)
}

.promo-block .heading-description {
    font-size: 17px;
}

.support-block {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    position: relative;
}

.support-block:not(:last-child):after {
    border-bottom: 1px solid;
    content: "";
    position: absolute;
    width: 100%;
    top: calc(100% + calc(var(--DTGutter_Width) / 2));
    border-color: #d3c4af;
}

.support-icon-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 0px;
    margin-right: 20px;
}

@media screen and (max-width: 1199px) {
    .support-icon-image {
        width: 35px;
        height: 35px;
    }
}

.support-heading {
    font-size: 30px;
    color: var(--DTSecondaryColor);
    margin: 0;
}

@media screen and (max-width: 1199px) {
    .support-heading {
        font-size: 26px;
    }
}