.products-section {
    float: left;
    width: 100%;
    clear: both;
}

.products-section .section-wrapper {
    padding-top: 0;
    padding-bottom: 100px;
}

@media screen and (max-width: 767px) {
    .products-section .section-wrapper {
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.products-section .main-block {
    padding: 0;
}

.product-collection {
    position: relative;
}

.product-collection.two-column {
    grid-template-columns: repeat(2, 1fr);
}

.product-collection.three-column {
    grid-template-columns: repeat(3, 1fr);
}

.product-collection.four-column {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1199px) {
    .product-collection.four-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .product-collection.four-column {
        grid-template-columns: repeat(1, 1fr);
    }
}

.product-collection .products {
    display: inline-block;
    background-color: var(--DT_product_bg_color);
    cursor: pointer;
    width: 100%;
}

.products .product-container {
    float: left;
    width: 100%;
    border-radius: var(--DTRadius);
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .products .product-container {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        float: unset;
    }
}

@media screen and (max-width: 576px) {
    .products .product-container {
        max-width: 300px;
    }
}

.products .product-detail {
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 0 0 var(--DTRadius) var(--DTRadius);
}

.product-container-group .image-group {
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid transparent;
    transition: .5s ease;
}

.products:hover .product-container-group .image-group {
    border-color: var(--DTPrimaryColor);
    transition: .5s ease;
}

.image-wrapper .product-button {
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    filter: alpha(opacity=0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    z-index: 2;
    transition: var(--DTBaseTransition);
}

.products:hover .product-container .product-button {
    opacity: 1;
    margin: auto;
}

.image-wrapper .product-button .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    margin: 0 5px;
}

.image-wrapper .product-button .btn img {
    width: 16px;
    height: 16px;
    filter: invert(100%) sepia(0%) saturate(7478%) hue-rotate(276deg) brightness(104%) contrast(104%);
}

.product-detail .product-title {
    line-height: normal;
    margin: 0 0 10px;
    display: inline-block;
    width: 100%;
}

.product-detail .product-title a {
    display: block;
    text-align: center;
    color: var(--DT_product_title_color);
    font-size: 30px;
}

.product-detail .link-price {
    text-align: center;
    color: var(--DTTertiaryColor);
    font-weight: 600;
}

.product-detail .product-detail-form {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 0 15px;
    width: 100%;
    line-height: 30px;
}

.product-detail-form .btn {
    letter-spacing: 1px;
}

.feature-section {
    width: 100%;
    float: left;
    clear: both;
}

.feature-section .section-wrapper {
    padding-top: 0;
    padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .feature-section .section-wrapper {
        padding: 0;
    }
}

.feature-section .feature-container {
    background: var(--DT_Blog_Link_Color_Overlay);
    padding: 60px;
    border-radius: 60px;
}

.feature-section .product-page-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .feature-section .product-page-row {
        flex-direction: column;
    }
}

.feature-container .product-image {
    float: left;
    width: calc(50% - 30px);
}

@media screen and (max-width: 991px) {
    .feature-container .product-image {
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.feature-container .product-description {
    float: left;
    width: calc(50% - 30px);
}

@media screen and (max-width: 991px) {
    .feature-container .product-description {
        width: 100%;
    }
}

.feature-section .product-meta-block {
    flex-direction: column;
    display: flex;
    position: static;
    z-index: 0;
}

.product-meta-block .product-title {
    margin: 0 0 20px;
    color: var(--DTSecondaryColor);
    font-size: 62px;
}

@media screen and (max-width: 1199px) {
    .product-meta-block .product-title {
        font-size: 50px;
    }
}

.home-featured-product .product-text {
    margin-bottom: 15px;
}

.home-featured-product .product-price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-featured-product .product-label {
    min-width: 140px;
    margin: 0;
    display: inline-block;
    font-family: var(--DTFontTypo_Body);
    font-size: 20px;
    font-weight: 600;
}

.home-featured-product .product-price .attribute-list {
    width: calc(100% - 140px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.home-featured-product .product-attributes .attribute-list {
    width: calc(100% - 140px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.feature-container .attribute-list li {
    font-weight: 700;
    margin-right: 15px;
    color: var(--DTPrimaryColor);
    font-size: 24px;
}

.product-price .attribute-list .product-price-old {
    text-decoration: line-through;
    font-size: 20px;
}

.feature-container .product-form {
    margin-top: 20px;
}

.feature-container .product-attributes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 38px;
}

.feature-container .swatch-group {
    width: calc(100% - 140px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}

.swatch-group>* {
    margin: 5px 10px 5px 0;
}

.swatch-group .swatch-element {
    transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    float: left;
}

.swatch-group .swatch-element input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    display: none;
}

.swatch-group label {
    cursor: pointer;
    border-radius: 0;
    white-space: nowrap;
    border-bottom: 2px solid transparent;
}

.swatch-group .swatch-element label {
    padding: 1px;
    transition: all .5s;
    border-radius: 50%;
}

.swatch-group .swatch-element label {
    min-width: auto;
    font-size: var(--DTFontSizeBase);
    padding: 4px 10px;
    border: 2px solid var(--DTPrimaryColor);
    border-radius: var(--DT_Button_Border_Radius);
    color: var(--DTPrimaryColor);
    font-weight: 400;
}

.swatch-group .swatch-element input:checked+label,
.swatch-group .swatch-element label:hover {
    border-color: var(--DTPrimaryColor);
    font-size: var(--DTFontSizeBase);
    background-color: var(--DTPrimaryColor);
    color: var(--DT_Blog_Link_Color_Overlay);
    font-weight: 400;
}

.feature-container .in-stock {
    color: var(--DTSecondaryColor);
    display: block;
    font-weight: 700;
    font-size: 18px;
}

.product-item-caption-qty {
    display: flex;
    clear: both;
    align-items: center;
}

.product-item-caption-qty button {
    box-shadow: none;
    margin: 0;
    font-weight: 500;
    height: 40px;
    width: 50px;
    display: flex;
    padding: 0 10px;
    line-height: 11px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.product-item-caption-qty button[data-type=minus] {
    border-radius: var(--DTRadius) 0 0 var(--DTRadius);
}

.product-item-caption-qty button[data-type=plus] {
    border-radius: 0 var(--DTRadius) var(--DTRadius) 0;
}

.product-item-caption-qty input.input-number {
    height: 40px;
    max-width: 50px;
    border-width: 2px 0;
    text-align: center;
    padding: 0;
    border-radius: 0;
    border-color: var(--DTPrimaryColor);
}

.product-payments-btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 0;
    float: left;
    width: 100%;
}

.product-payments-btns .add-to-cart-btn {
    margin-right: 15px;
}

.product-payments-btns .payment-button {
    background: var(--DTTertiaryColor);
}

.product-attributes+.product-attributes {
    margin-top: 5px;
}

.collection-header {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--DTOverlayColor);
    background-color: var(--DT_Button_Text_Color);
    border-radius: var(--DTRadius);
    /* border: 1px solid var(--DTColor_Border); */
}

.collection-header .collection-view {
    padding: 0;
    margin: 15px;
    display: flex;
    background: var(--DTBodyBGColor);
    border: 1px solid var(--DT_Button_BG_Color);
    overflow: hidden;
    border-radius: var(--DTRadius);
}

.collection-header .collection-view .change-mode {
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 35px;
    height: 35px;
}

.collection-header .collection-view .change-mode.active {
    color: var(--DT_Button_Text_Hover_Color);
    background-color: var(--DT_Button_BG_Color);
}

.collection-header .collection-view .change-mode.active img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.collection-header .collection-view .change-mode:hover:not(.active) img {
    filter: invert(40%) sepia(51%) saturate(7496%) hue-rotate(337deg) brightness(95%) contrast(91%);
}

.collection-header .collection-view .change-mode img {
    width: 15px;
    height: 15px;
}

.collection-header .select-box {
    padding: 15px;
}

.collection-header .select-box label {
    font-size: 13px;
}

.collection-header select {
    cursor: pointer;
    margin-top: -3px;
    margin-left: 5px;
    background: var(--DT_Button_BG_Color);
    border: 1px solid var(--DT_Button_BG_Color);
    padding: 6px 10px 7px;
    color: var(--DT_Button_Text_Hover_Color);
    border-radius: 35px
}

.collection-header .compare-btn {
    line-height: 35px;
    border-radius: 35px;
    padding: 2px 15px;
    margin: 0 0 0 15px;
}

.collection-header .compare-btn img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.pagination-block {
    width: 100%;
    text-align: center;
}

.pagination-block .pagination-default {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: max-content;
    background: #fff;
    padding: 8px;
    border-radius: 60px;
}

.pagination-block .pagination-default>* {
    margin: 2px 5px;
}

.pagination-block .pagination-default li {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-block .pagination-default img {
    width: 20px;
    height: 20px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(111deg) brightness(112%) contrast(101%);
}

.pagination-block .pagination-default .disabled img {
    filter: invert(98%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(82%) contrast(101%);
}

.pagination-block .pagination-default li a,
.pagination-block .pagination-default li>span {
    display: flex;
    min-width: 40px;
    min-height: 40px;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
    background-color: var(--DT_Button_BG_Color);
    color: var(--DT_Button_Text_Color);
    border-radius: var(--DT_Button_Border_Radius);
    border: var(--DT_Button_border_width) solid var(--DT_Button_border_Color);
}

.pagination-block .pagination-default li a:hover,
.pagination-block .pagination-default a.active,
.pagination-block .pagination-default .active span {
    background-color: var(--DT_Button_BG_Hover_Color);
    color: var(--DT_Button_Text_Hover_Color);
    border-color: var(--DT_Button_hover_border_Color);
}