*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit
}

html {
  cursor: default;
  height: 100%;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box
}

body {
  background-color: var(--DTBodyBGColor);
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  background: 0 0;
  outline: 0
}

body,
html {
  width: 100%;
  min-height: 100vh
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

section {
  position: relative
}

body {
  margin: 0;
  line-height: 1
}

body,
button,
input,
optgroup,
select,
textarea {
  margin: 0
}

cite,
dfn,
em,
i {
  font-style: italic
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0
}

li {
  list-style: none
}

ol,
ul {
  margin: 0 0 20px;
  list-style: none
}

li>ol,
li>ul {
  padding: 10px 0 0 20px
}

ul {
  list-style: disc
}

ol {
  list-style: decimal
}

ul ul {
  list-style-type: circle
}

ol>li:last-child,
ul>li:last-child {
  padding-bottom: 0
}

dt {
  font-weight: 700
}

dd {
  margin: 0 20px 20px
}

hr {
  color: inherit;
  overflow: visible;
  border: 0;
  clear: both;
  height: 1px;
  margin: 20px 0;
  padding: 0
}

del {
  text-decoration: line-through;
  opacity: .5;
  font-size: 80%;
}

main {
  float: left;
  width: 100%
}

blockquote,
q {
  quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
  -ms-overflow-style: scrollbar;
  margin-top: .75em;
  margin-bottom: .75em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
  white-space: break-spaces
}

a {
  cursor: pointer;
  background-color: transparent
}

address {
  display: block;
  margin: 0 0 20px
}

abbr,
abbr[title],
dfn[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: none
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp,
tt,
var {
  font-family: monospace, monospace;
  font-size: 1em
}

small {
  font-size: 80%
}

big {
  font-size: 125%
}

mark {
  background-color: #ffffb3;
  font-style: italic;
  text-decoration: none
}

ins {
  background-color: #da0000;
  color: var(--DTBodyBGColor);
  text-decoration: none
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio,
canvas,
iframe,
img,
svg,
video {
  transform: translate(0) translate(0);
  vertical-align: middle;
  display: inline-block;
  max-width: 100%
}

embed,
iframe,
object,
video {
  max-width: 100%
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

iframe {
  border-style: none
}

img {
  border-style: none;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

svg:not([fill]) {
  fill: currentColor
}

svg:not(:root) {
  overflow: hidden
}

[hidden] {
  display: none
}

a:focus {
  outline: thin dotted
}

a:active,
a:hover {
  outline: 0
}

a img {
  border: 0
}

figure {
  margin: 0
}

form {
  margin: 0
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
  border-spacing: 0;
  clear: both;
  margin: 0 0 1rem;
  width: 100%
}

table td,
table th {
  padding: 10px;
  text-align: center;
  word-break: break-word
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
  font-family: inherit;
  line-height: 1.15;
  transition: var(--DTBaseTransition)
}

button,
input,
select {
  overflow: visible
}

select {
  text-transform: none
}

button,
html input[type=button],
input[type=reset],
vinput[type=submit] {
  -webkit-appearance: button;
  cursor: pointer
}

.disabled,
.disabled a,
button[disabled],
html input[disabled] {
  opacity: .5;
  cursor: not-allowed
}

fieldset {
  border: 1px solid #a0a0a0;
  padding: .35em .75em .625em
}

input {
  overflow: visible
}

progress {
  display: inline-block;
  vertical-align: baseline
}

select {
  text-transform: none
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  outline-offset: -2px;
  box-sizing: content-box
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
  resize: block;
  vertical-align: top;
  min-height: 150px;
}

[type=checkbox],
[type=radio] {
  padding: 0;
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  border-style: none
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

::-moz-placeholder {
  color: inherit;
  opacity: .54
}

:-ms-input-placeholder {
  color: inherit;
  opacity: .54
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

::-moz-focus-inner {
  border-style: none;
  padding: 0
}

:-moz-ui-invalid {
  box-shadow: none
}

::-moz-selection {
  background: var(--DTPrimaryColor);
  color: var(--DTBodyBGColor);
  text-shadow: none
}

::selection {
  background: var(--DTPrimaryColor);
  color: var(--DTBodyBGColor);
  text-shadow: none
}

details {
  display: block
}

dialog {
  border: solid;
  color: #000;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  background-color: var(--DTBodyBGColor)
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation
}

[hidden],
dialog:not([open]),
template {
  display: none
}

[aria-busy=true] {
  cursor: progress
}

[aria-controls] {
  cursor: pointer
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed
}

[aria-hidden=false][hidden] {
  display: initial
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute
}

.clear,
.clearfix {
  clear: both
}

.hidden,
.hide {
  display: none !important
}

body {
  background-color: var(--DTBodyBGColor);
  color: var(--DTColor_Body);
  overflow-x: hidden;
}

body,
button,
input,
textarea,
select,
optgroup {
  text-transform: none;
  font-weight: normal;
  letter-spacing: 0;
  font-family: var(--DTFontTypo_Body);
  font-size: var(--DTFontSizeBase);
  line-height: var(--DT_Body_Line_Height);
  color: var(--DTColor_Body);
}

a,
input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="button"],
*[role="button"],
button,
.button,
a.button,
.btn,
.radio-label input[type="radio"]+span:before {
  transition: var(--DTBaseTransition);
}

a:hover,
a:active {
  outline: 0;
  color: var(--DTLinkHoverColor);
}

a:focus {
  outline: 0;
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  color: var(--DTLinkColor);
  transition: var(--DTBaseTransition);
}

a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6 {
  color: var(--DTLinkHoverColor);
}

.not-display {
  display: none;
}

hr {
  background-color: var(--DTColor_Border);
}

pre {
  border: 1px solid var(--DTColor_Border);
}

table td,
table th {
  border: 1px solid var(--DTColor_Border);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="range"],
input[type="date"],
textarea,
input.text,
input[type="search"] {
  display: block;
  margin: 0;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  padding: var(--DTInputPadding);
  border: 1px solid var(--DTColor_Border);
  border-radius: var(--DT_Button_Border_Radius);
  background: var(--DTInputBackground);
  word-break: break-all;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
textarea:focus,
input.text:focus,
input[type="search"]:focus {
  border: 1px solid var(--DTPrimaryColor);
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="button"],
*[role="button"],
button,
.button,
a.button,
.btn,
.spr-summary-actions-newreview,
.shopify-payment-button__button--unbranded {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  float: none;
  font-size: var(--DTFontSizeBase);
  font-weight: normal;
  margin: 10px 0 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  line-height: var(--DT_Body_Line_Height);
  border-radius: var(--DT_Button_Border_Radius);
  padding: var(--DTPadding_Btn);
  color: var(--DT_Button_Text_Color);
  background-color: var(--DT_Button_BG_Color);
  border: var(--DT_Button_border_width) solid var(--DT_Button_border_Color);
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button[type="button"]:hover,
*[role="button"]:hover,
button:hover,
button.active,
.button:hover,
a.button:hover,
.btn:hover,
a.spr-summary-actions-newreview:hover,
.spr-summary-actions-newreview:focus,
.shopify-payment-button__button--unbranded:hover:not([disabled]):hover {
  background-color: var(--DT_Button_BG_Hover_Color);
  color: var(--DT_Button_Text_Hover_Color);
  border: var(--DT_Button_border_width) solid var(--DT_Button_hover_border_Color);
}

.btn.small {
  padding: 5px 15px;
  font-size: 14px;
  width: auto;
  display: inline-block;
}

.blog-item .blog-image img {
  border-radius: calc(var(--DT_Blog_Border_Radius) / 2);
}

textarea {
  border-radius: calc(var(--DT_Button_Border_Radius) / 2);
}

h1,
h1 a {
  font-size: var(--DTFontSize_H1);
}

h2,
h2 a {
  font-size: var(--DTFontSize_H2);
}

h3,
h3 a {
  font-size: var(--DTFontSize_H3);
}

h4,
h4 a {
  font-size: var(--DTFontSize_H4);
}

h5,
h5 a {
  font-size: var(--DTFontSize_H5);
}

h6,
h6 a {
  font-size: var(--DTFontSize_H6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--DTColor_Heading);
  letter-spacing: 0;
  text-transform: none;
  line-height: var(--DT_Heading_Line_Height);
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: var(--DTFontTypo_Heading);
  font-weight: var(--font-weight-header);
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty,
p:empty {
  display: none;
}

svg {
  width: 20px;
  height: 20px;
}

button svg,
.btn svg {
  height: 14px;
  margin-right: 5px;
}

button svg:only-child,
.btn svg:only-child {
  margin: 0;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  img {
    image-rendering: -webkit-optimize-contrast;
  }
}

p {
  margin-bottom: 15px;
}

p:only-of-type {
  margin-bottom: 0;
}

blockquote {
  border-left: 2px solid currentColor;
  margin: 1.5rem 0;
  padding: 0 0 0 1rem;
  font-style: italic;
}

blockquote>p {
  margin: 0 0 1rem;
}

blockquote>p:only-child,
blockquote>p:last-of-type {
  margin-bottom: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: var(--DTLinkColor);
}

.text-start,
.text-start>* {
  text-align: left;
  justify-content: flex-start;
}

.text-center,
.text-center>* {
  text-align: center;
  justify-content: center;
}

.text-end,
.text-end>* {
  text-align: right;
  justify-content: flex-end;
}

.text-center .list-inline {
  justify-content: center;
}

.flex-center {
  justify-content: center;
}

.flex-center {
  justify-content: flex-end;
}

.error {
  color: var(--DT_Error_Color);
}

.success {
  color: var(--DT_Success_Color);
}

.errors ul {
  margin-bottom: var(--DTGutter_Width);
  color: var(--DT_Error_Color);
}

.note.form-success {
  margin-bottom: var(--DTGutter_Width);
  color: var(--DT_Success_Color);
}

.container {
  max-width: 100%;
  margin: auto;
  padding-left: calc(var(--DTGutter_Width) / 2);
  padding-right: calc(var(--DTGutter_Width) / 2);
  width: var(--DTContainer);
}

.container-fluid {
  width: 100%;
  max-width: 100%;
}

.container-fluid.spacing_enabled>.row {
  margin: 0 var(--DT_Container_Spacing);
}

.grid {
  display: grid;
  width: 100%;
  grid-gap: var(--DTGutter_Width);
  gap: var(--DTGutter_Width);
  margin: 0;
  padding: 0;
  grid-auto-flow: row dense;
}






/*-----------------------------------------------------------------*/


@media (max-width: 1540px) {
  .container {
    max-width: var(--DT_Lap_Container);
  }

  .container-fluid.spacing_enabled>.row {
    margin: 0 calc(var(--DT_Container_Spacing) / 2);
  }
}

@media (min-width: 1200px) and (max-width: 1320px) {
  .container {
    max-width: calc(var(--DT_Lap_Container) - 100px);
  }
}

@media (max-width: 1199px) {
  .container {
    width: var(--DT_Tab_Container);
    max-width: 100%;
    padding-left: var(--DTGutter_Width);
    padding-right: var(--DTGutter_Width);
  }

  .container-fluid.spacing_enabled>.row {
    margin: 0 var(--DTGutter_Width);
  }
}

@media (max-width: 767px) {

  h1,
  h1 a {
    font-size: calc(.85 * var(--DTFontSize_H1));
  }

  h2,
  h2 a {
    font-size: calc(.65 * var(--DTFontSize_H2));
  }

  h3,
  h3 a {
    font-size: calc(.85 * var(--DTFontSize_H3));
  }

  h4,
  h4 a {
    font-size: calc(.85 * var(--DTFontSize_H4));
  }

  h5,
  h5 a {
    font-size: calc(.9 * var(--DTFontSize_H5));
  }

  h6,
  h6 a {
    font-size: calc(1 * var(--DTFontSize_H6));
  }

  .container {
    max-width: 100%;
    padding-left: var(--DTGutter_Width);
    padding-right: var(--DTGutter_Width);
  }
}

@media (max-width: 575px) {
  #header .container-fluid.spacing_enabled>.row {
    margin: 0 20px;
  }
}