:root {
    --DTFontTypo_Heading: "Lilita One Ukr", cursive;
    --font-style-header: normal;
    --font-weight-header: 300;
    --font-size-header: ;
    --DTFontTypo_Body: "Open Sans", sans-serif;
    --font-style-body: normal;
    --font-weight-body: 300;
    --font-weight-body--bold: 500;
    --font-weight-body--bolder: 700;
    --font-size-body: 16px;
    --DTFontTypo_Custom: "Open Sans", sans-serif;
    --font-style-additional: normal;
    --font-weight-additional: 300;
    --font-size-additional: 20;
    --swiper-theme-color: #f9b431 !important;
    --DTPrimaryColor: #f9b431;
    --DTSecondaryColor: #4b2c5e;
    --DTTertiaryColor: #e73747;
    --DTBodyBGColor: #f5efea;
    --DTOverlayColor: rgba(234, 234, 234, .65);
    --DTLinkColor: #1a1a1a;
    --DTLinkHoverColor: #e73747;
    --DTColor_Body: #1a1a1a;
    --DTColor_Heading: #1a1a1a;
    --DTColor_Border: #d9d9d9;
    --DT_Error_Color: #D8000C;
    --DT_Success_Color: #4F8A10;
    --DT_Warning_Color: #9F6000;
    --DT_Info_Color: #31708f;
    --DT_Blog_Border_Radius: 30px;
    --DT_Blog_Gutter_Width: 30px;
    --DT_Blog_BG_Color: rgba(0, 0, 0, 0);
    --DT_Blog_Link_Color: #4b2c5e;
    --DT_Blog_Link_Hover_Color: #e73747;
    --DT_Blog_Text_Color: #4b4b4b;
    --DT_Blog_Icon_Color: #f9b431;
    --DT_Blog_Button_BG_Color: #4b2c5e;
    --DT_Blog_Button_Text_Color: #f5f1ed;
    --DT_Blog_Button_BG_Hover_Color: #f9b431;
    --DT_Blog_Button_Text_Hover_Color: #f5f1ed;
    --DT_Blog_Link_Color_Overlay: #ffffff;
    --DT_Blog_Link_Hover_Color_Overlay: #f9b431;
    --DT_Blog_Text_Color_overlay: #4b2c5e;
    --DT_Blog_Icon_Color_overlay: #4b2c5e;
    --DT_Blog_Button_BG_Color_overlay: #f9b431;
    --DT_Blog_Button_Text_Color_overlay: #f5f1ed;
    --DT_Blog_Button_BG_Hover_Color_overlay: #4b2c5e;
    --DT_Blog_Button_Text_Hover_Color_overlay: #f5f1ed;
    --DTFontSizeBase: 15px;
    --DTFontSize_H1: 36px;
    --DTFontSize_H2: 70px;
    --DTFontSize_H3: 24px;
    --DTFontSize_H4: 20px;
    --DTFontSize_H5: 18px;
    --DTFontSize_H6: 16px;
    --DT_Heading_Line_Height: 1em;
    --DT_Body_Line_Height: 1.8em;
    --DTRadius: 25px;
    --DTInputPadding: 10px 20px 10px 20px;
    --DTInputBackground: #ffffff;
    --DTform_BG: #f7f7f7;
    --DT_product_bg_color: rgba(0, 0, 0, 0);
    --DT_product_text_color: #1a1a1a;
    --DT_product_title_color: #4b2c5e;
    --DT_product_title_hover_color: #e73747;
    --DT_product_vendor_color: #e73747;
    --DTPadding_Btn: 10px 30px 10px 30px;
    --DT_Button_BG_Color: #f9b431;
    --DT_Button_Text_Color: #ffffff;
    --DT_Button_BG_Hover_Color: #4b2c5e;
    --DT_Button_border_Color: ;
    --DT_Button_hover_border_Color: ;
    --DT_Button_Text_Hover_Color: #f5f1ed;
    --DT_Button_Border_Radius: 50px;
    --DT_Button_border_width: 0px;
    --DTContainer: 1440px;
    --DT_Lap_Container: 1250px;
    --DT_Tab_Container: 960px;
    --DT_Container_Spacing: 5%;
    --DTGutter_Width: 30px;
    --DTBaseTransition: all .3s linear;
    --DTboxShadowcolor: #bbbbbb;
    --DTboxShadowcolor_light: #e9e9e9;
    --DTboxShadow: 0 0 10px var(--DTboxShadowcolor);
    --DTboxShadow_light: 0 0 10px var(--DTboxShadowcolor_light);
    --DT_Gradient: linear-gradient(310deg, rgba(17, 189, 251, 1) 15%, rgba(33, 249, 150, 1) 85%);
    --DT_Gradient_Hover: linear-gradient(228deg, rgba(21, 209, 252, 1) 14%, rgba(187, 48, 254, 1) 83%)
}
