.banner {
    width     : 100%;
    margin-top: calc(var(--space) * 2);

    .wrapper {
        padding: var(--space) 0;
    }

    .block {
        position: relative;

        &-banner {
            min-height           : 450px;
            position             : relative;
            display              : flex;
            flex-wrap            : wrap;
            -webkit-box-orient   : vertical;
            -webkit-box-direction: normal;
            flex-direction       : column;
            min-width            : 0;
            word-wrap            : break-word;
            background-clip      : border-box;
            padding              : 0;
            overflow             : hidden;
            border-radius        : var(--radius);
        }

        &-image {
            position: absolute;
            width   : 100%;
            height  : 100%;

            img {
                height    : 100%;
                width     : 100%;
                object-fit: cover;
            }
        }

        &-content {
            padding        : var(--padding);
            display        : flex;
            flex-wrap      : wrap;
            flex-direction : column;
            align-items    : center;
            justify-content: center;
            text-align     : center;
            z-index        : 1;
            height         : 100%;
            margin         : auto;
        }

        &-title {
            text-shadow: var(--shadow);
            a {
                color: var(--color-yellow-light);
            }
        }

        &-subtitle {
            color: var(--color-blue-light);
            font-size: 200%;
        }

        &-description {
            color: var(--color-card);
            margin-left: auto;
            margin-right: auto;
            max-width: 70ch;
        }

        &-btn {
            background: var(--color-yellow);
            color: var(--color-text);

            &:hover {
                background: var(--color-blue);
                color     : var(--color-card);
            }
        }
    }
}