.catalog {
    width     : 100%;
    margin-top: calc(var(--space) * 2);

    .wrapper {
        padding: var(--space) 0;
    }

    .title {
        text-align: center;
    }

    .block {
        width   : 100%;
        padding : var(--space) 0;
        overflow: hidden;
        position: relative;

        &-wrapper {
            width : 100%;
            height: 100%;
        }

        &-item {
            transition: var(--transition);
            padding   : 0 calc(var(--space) / 2);
            cursor    : move;

            &:hover {
                .block-image {
                    border: 3px solid var(--color-green);

                    &:after {
                        opacity: 1;
                    }
                }

                .block-text {
                    transform: translateY(0);
                    opacity  : 1;
                }

                .block-title {
                    color: var(--color-green);
                }
            }
        }

        &-title {
            font-size     : 165%;
            line-height   : var(--line-height);
            margin-left   : auto;
            margin-right  : auto;
            text-transform: uppercase;

            @media screen and (max-width: 767px) {
                padding-left : 0;
                padding-right: 0;
            }
        }

        &-link {
            color     : var(--color-gray-dark);
            transition: var(--transition);

            &:hover {
                color: var(--color-green);
            }
        }

        &-container {
            position: relative;
            overflow: hidden;
        }

        &-image {
            border-radius  : var(--radius);
            overflow       : hidden;
            border         : 3px solid var(--color-card);
            transition     : var(--transition);
            position       : relative;
            width          : 100%;
            max-width      : 400px;
            margin-left    : auto;
            margin-right   : auto;
            aspect-ratio   : 1;
            display        : flex;
            justify-content: center;
            align-items    : center;

            &:after {
                content   : '';
                position  : absolute;
                top       : 0;
                left      : 0;
                width     : 100%;
                height    : 100%;
                background: rgba(0, 0, 0, 0.6);
                opacity   : 0;
                transition: var(--transition);
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: contain;
            }
        }

        &-text {
            width          : 100%;
            padding        : var(--space);
            border-radius  : var(--radius);
            overflow       : hidden;
            transition     : var(--transition);
            position       : absolute;
            left           : 0;
            right          : 0;
            top            : 0;
            width          : 100%;
            max-width      : 400px;
            margin-left    : auto;
            margin-right   : auto;
            aspect-ratio   : 1;
            text-align     : center;
            display        : flex;
            justify-content: center;
            align-items    : center;
            color          : var(--color-card);
            transform      : translateY(100%);
            opacity        : 0;
        }
    }

}