.content {
    width     : 100%;
    margin-top: calc(var(--space) * 2);

    .wrapper {
        padding: var(--space) 0;
    }

    .title {
        text-align: center;
    }

    .block {
        &-container {}
    }
}