* {
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
	outline           : none;
}

html,
body {
	width         : 100%;
	max-width     : 1920px;
	padding       : 0;
	margin        : 0 auto;
	overflow-x    : hidden;
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;
	position      : relative;
	font-weight   : 300;
}

html {
	scroll-behavior: smooth;
	scroll-behavior: auto;
}

html.is-loading,
body.is-loading {
    overflow: hidden;
}

body.is-loading {
    position: fixed;
    width: 100%;
}

body.menu-open {
	transition  : all 0s ease 0s;
	overflow-y  : hidden;
	height      : 100vh;
	margin-right: 15px;

	@media (orientation: portrait) and (max-width: 768px) {
		margin-right: 0;
	}

	&:after {
		content   : "";
		display   : block;
		position  : absolute;
		width     : 100%;
		height    : 100%;
		left      : 0;
		top       : 0;
		background: var(--white);
		z-index   : 10;
		opacity   : 0;
	}
}

a {
	text-decoration: none;
	display        : inline-block;
	transition     : all .3s ease .3s;
}

img {
	display  : block;
	height   : auto;
	max-width: 100%;
}

.title {
	font-size     : clamp(32px, calc(24px + 3vw), 56px);
	line-height   : calc(clamp(32px, calc(24px + 3vw), 56px) * 1.2);
	text-transform: uppercase;
}

.subtitle {
	font-size  : clamp(18px, 2vw, 24px);
	line-height: calc(clamp(18px, 2vw, 24px) * 1.2);
	font-weight: 400;
}

.text {
	font-size  : clamp(16px, 2vw, 20px);
	line-height: calc(clamp(16px, 2vw, 20px) * 1.2);
}

.button {
	background     : var(--light-blue);
	color          : var(--white);
	padding        : clamp(10px, 2vw, 15px) clamp(20px, 4vw, 35px);
	border-radius  : 8px;
	backdrop-filter: blur(40px);
	font-size      : clamp(13px, 2vw, 18px);
	border         : none;
	transition     : all .3s ease .3s;

	img {
		transition: all .3s ease .3s;
		width     : 18px;
		height    : 18px;

		@media screen and (max-width: 991px) {
			width : 15px;
			height: 15px;
		}

		@media screen and (max-width: 576px) {
			width : 12px;
			height: 12px;
		}
	}

	&:hover {
		opacity: .75;

		img {
			transform: translateX(10px) scale(1.2);
		}
	}
}

#scroll-top {
	position       : fixed;
	bottom         : 200px;
	right          : 30px;
	padding        : 0;
	z-index        : 200;
	display        : flex;
	justify-content: center;
	align-items    : center;
	width          : 45px;
	height         : 45px;
	border-radius  : 50%;
	background     : var(--light-blue);

	@media screen and (max-width: 767px) {
		bottom: 90px;
	}

	img {
		width : 30px;
		height: 30px;
	}
}

#call {
	position       : fixed;
	bottom         : 140px;
	right          : 30px;
	padding        : 0;
	display        : flex;
	justify-content: center;
	align-items    : center;
	width          : 45px;
	height         : 45px;
	border-radius  : 50%;
	z-index        : 9;
	background     : #28ad16;

	@media screen and (max-width: 767px) {
		bottom: 30px;
	}

	img {
		width : 30px;
		height: 30px;
	}
}

blockquote {
	background   : var(--light-blue);
	color        : var(--white);
	border-radius: var(--radius);
	position     : relative;
	transform    : translateX(clamp(-10%, 4vw, -18%));
	padding      : clamp(20px, 4vw, 35px) clamp(10%, 4vw, 15%);
	font-size    : clamp(18px, 2vw, 26px);
	max-width    : 600px;

	@media screen and (max-width: 991px) {
		transform: translateX(-30px);
	}

	&:before {
		content    : "“";
		font-size  : clamp(4rem, calc(4rem + 4vw), 10rem);
		font-weight: 600;
		color      : var(--white);
		position   : absolute;
		left       : clamp(20px, 4vw, 35px);
		top        : clamp(30px, 4vw, 50px);
		opacity    : .15;
	}

	&:after {
		content    : "”";
		font-size  : clamp(4rem, calc(4rem + 4vw), 10rem);
		font-weight: 600;
		color      : var(--white);
		position   : absolute;
		right      : clamp(20px, 4vw, 35px);
		bottom     : 0;
		opacity    : .15;
	}
}

#preload {
	position             : fixed;
	top                  : 0;
	left                 : 0;
	bottom               : 0;
	right                : 0;
	width                : 100%;
	height               : 100vh;
	background-color     : var(--blue);
	z-index              : 100000;
	display              : flex;
	flex-direction       : row;
	justify-content      : center;
	align-items          : center;
	transition: opacity 0.5s ease;

	img {
		width                            : 32px;
		height                           : auto;
		animation-name                   : load;
		animation-duration               : 1s;
		animation-iteration-count        : infinite;
	}
}

@keyframes load {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.left,
.right,
.up,
.down {
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    will-change: transform, opacity;
}

.left {
    transform: translateX(-100px);
}
.right {
    transform: translateX(100px);
}
.up {
    transform: translateY(100px);
}
.down {
    transform: translateY(-100px);
}

.left.revealed,
.right.revealed,
.up.revealed,
.down.revealed {
    opacity: 1;
    transform: translate(0, 0);
}