* {
	-webkit-box-sizing: border-box;
	box-sizing        : border-box;
	outline           : none;
}

html,
body {
	width         : 100%;
	padding       : 0;
	margin        : 0 auto;
	overflow-x    : hidden;
	min-height    : 100vh;
	display       : flex;
	flex-direction: column;
	position      : relative;
	font-weight   : 300;
	color         : var(--color-text);
}

html {
	scroll-behavior: smooth;
	scroll-behavior: auto;
}

body {
	background: var(--color-gray-light);
	transition: var(--transition);
	scroll-behavior: smooth;

	&:after {
		content   : "";
		display   : block;
		position  : absolute;
		width     : 100%;
		height    : 100%;
		left      : 0;
		top       : 0;
		background: var(--color-green-dark);
		z-index   : -1;
		opacity   : 0;
	}
}

html.is-loading,
body.is-loading {
	overflow: hidden;
}

body.is-loading {
	position: fixed;
	width   : 100%;
}

body,
button,
input,
textarea,
select,
optgroup {
	text-transform: none;
	font-weight   : normal;
	letter-spacing: 0;
	font-family   : var(--font-body);
	font-size     : 17px;
	line-height   : var(--line-height);
	color         : var(--color-text);
}

body.menu-open {
	transition  : var(--transition);
	overflow-y  : hidden;
	// height      : 100vh;
	margin-right: 15px;

	@media (orientation: portrait) and (max-width: 768px) {
		margin-right: 0;
	}

	&:after {
		z-index   : 10;
		opacity   : .75;
	}

	.slider {
		padding-bottom: 0;

		@media screen and (max-width: 991px) {
			min-height: calc(100vh - 98px);
			padding   : 0;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color         : var(--color-green-dark);
	letter-spacing: 0;
	text-transform: none;
	line-height   : var(--line-height);
	margin-top    : 30px;
	margin-bottom : 15px;
	font-family   : var(--font-heading);
	font-weight   : 400;
}

.container {
	width: 100%;
	max-width: var(--container);
	margin   : 0 auto;
	padding: 0 calc(var(--padding-x) * 0.5);
}

a {
	text-decoration: none;
	display        : inline-block;
	transition     : var(--transition);
}

img {
	display  : block;
	height   : auto;
	max-width: 100%;
}

.title {
	font-size     : clamp(32px, calc(24px + 3vw), 56px);
	line-height   : calc(clamp(32px, calc(24px + 3vw), 56px) * 1.2);
	text-transform: uppercase;
}

.subtitle {
	text-transform: uppercase;
	font-size  : clamp(18px, 2vw, 24px);
	line-height: calc(clamp(18px, 2vw, 24px) * 2);
	font-weight: 400;
}

.text {
	font-size  : clamp(16px, 2vw, 20px);
	line-height: calc(clamp(16px, 2vw, 20px) * 1.2);
}

.btn {
	color          : var(--color-card);
	padding        : var(--padding);
	border-radius  : var(--radius);
	font-size      : clamp(15px, 2vw, 18px);
	border         : none;
	transition     : var(--transition);

	img {
		transition: var(--transition);
		width     : 18px;
		height    : 18px;

		@media screen and (max-width: 991px) {
			width : 15px;
			height: 15px;
		}

		@media screen and (max-width: 576px) {
			width : 12px;
			height: 12px;
		}
	}
}

#scroll-top {
	position       : fixed;
	bottom         : 90px;
	right          : 30px;
	padding        : 0;
	z-index        : 200;
	display        : flex;
	justify-content: center;
	align-items    : center;
	width          : 45px;
	height         : 45px;
	border-radius  : 50%;
	background     : var(--color-green-dark);
	transition     : var(--transition);

	&:hover {
		background     : var(--color-green);
	}

	@media screen and (max-width: 767px) {
		right : 20px;
		bottom: 80px;
	}

	img {
		transform: rotate(-90deg);
		width : 25px;
		height: 25px;
	}
}

#call {
	position       : fixed;
	bottom         : 30px;
	right          : 30px;
	padding        : 0;
	display        : flex;
	justify-content: center;
	align-items    : center;
	width          : 45px;
	height         : 45px;
	border-radius  : 50%;
	z-index        : 9;
	background     : #28ad16;

	@media screen and (max-width: 767px) {
		bottom: 20px;
		right : 20px;
	}

	img {
		width : 30px;
		height: 30px;
	}
}

blockquote {
	background   : var(--color-green-light);
	color        : var(--color-card);
	border-radius: var(--radius);
	position     : relative;
	transform    : translateX(clamp(-10%, 4vw, -18%));
	padding      : clamp(20px, 4vw, 35px) clamp(10%, 4vw, 15%);
	font-size    : clamp(18px, 2vw, 26px);
	max-width    : 600px;

	@media screen and (max-width: 991px) {
		transform: translateX(-30px);
	}

	&:before {
		content    : "“";
		font-size  : clamp(4rem, calc(4rem + 4vw), 10rem);
		font-weight: 600;
		color      : var(--color-card);
		position   : absolute;
		left       : clamp(20px, 4vw, 35px);
		top        : clamp(30px, 4vw, 50px);
		opacity    : .15;
	}

	&:after {
		content    : "”";
		font-size  : clamp(4rem, calc(4rem + 4vw), 10rem);
		font-weight: 600;
		color      : var(--color-card);
		position   : absolute;
		right      : clamp(20px, 4vw, 35px);
		bottom     : 0;
		opacity    : .15;
	}
}

#preload {
	position        : fixed;
	top             : 0;
	left            : 0;
	bottom          : 0;
	right           : 0;
	width           : 100%;
	height          : 100vh;
	background-color: var(--color-green-dark);
	z-index         : 100000;
	display         : flex;
	flex-direction  : row;
	justify-content : center;
	align-items     : center;
	transition      : var(--transition);

	img {
		width                    : 50px;
		height                   : auto;
		animation-name           : load;
		animation-duration       : 1s;
		animation-iteration-count: infinite;
		color                    : var(--color-card);
		fill                     : var(--color-card);
		filter                   : invert(100%) sepia(100%) saturate(0%) hue-rotate(88deg) brightness(1007%) contrast(102%);
	}
}

@keyframes load {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.left,
.right,
.up,
.down {
	opacity    : 0;
	transition : opacity 0.8s ease, transform 0.8s ease;
	will-change: transform, opacity;
}

.left {
	transform: translateX(calc(var(--move) * -1));
}

.right {
	transform: translateX(var(--move));
}

.up {
	transform: translateY(var(--move));
}

.down {
	transform: translateY(calc(var(--move) * -1));
}

.left.revealed,
.right.revealed,
.up.revealed,
.down.revealed {
	opacity  : 1;
	transform: translate(0, 0);
}