@font-face {
  font-family: 'Lilita One Ukr';
  src: url('../fonts/LilitaOneUkr.eot');
  src: url('../fonts/LilitaOneUkr.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LilitaOneUkr.woff2') format('woff2'),
    url('../fonts/LilitaOneUkr.woff') format('woff'),
    url('../fonts/LilitaOneUkr.ttf') format('truetype'),
    url('../fonts/LilitaOneUkr.svg#svgFontName') format('svg');
  font-weight: normal;
  font-style: normal;

}