@font-face {
  font-family: 'Playpen Sans';
  src: url('../fonts/PlaypenSans-ExtraBold.eot');
  src: url('../fonts/PlaypenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PlaypenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlaypenSans-ExtraBold.woff') format('woff'),
    url('../fonts/PlaypenSans-ExtraBold.ttf') format('truetype'),
    url('../fonts/PlaypenSans-ExtraBold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;

}