.section {
    padding: clamp(25px, 4vw, 40px) 0 0;

    &__text {
        color      : var(--dark-gray);
        font-size  : clamp(18px, calc(8px + 3vw), 28px);
        line-height: clamp(26px, calc(14px + 3vw), 34px);
        font-weight: 300;

        strong,
        b {
            font-weight: 300;
            color      : var(--black);
        }
    }

    &__map {
        border-radius: var(--radius);
        height       : 500px;
        position     : relative;
        overflow     : hidden;

        @media screen and (max-width: 1199px) {
            height: 450px;
        }

        @media screen and (max-width: 991px) {
            height: 400px;
        }

        iframe {
            height: 200%;
            width : 200%;
        }
    }
}