.swiper {
    padding : clamp(30px, 4vw, 50px) calc(1.5rem * 0.5);
    overflow: hidden;

    &-nav {
        display: flex;
        gap    : 10px;
    }

    &-index {
        position: absolute;
        left    : clamp(30px, 4vw, 50px);
        top     : clamp(30px, 4vw, 50px);
        color   : var(--white);
    }

    &-prev,
    &-next {
        width          : 44px;
        height         : 44px;
        border-radius  : var(--radius);
        border         : 1px solid var(--dark-gray);
        display        : flex;
        align-items    : center;
        justify-content: center;
        cursor         : pointer;
        transition     : .3s;
        color          : var(--dark-gray);

        &:hover {
            background: var(--light-blue);
            border    : 1px solid var(--light-blue);
            color     : var(--white);
        }
    }

    &-prev::after {
        content    : "‹";
        display    : flex;
        align-items: center;
        height     : -webkit-fill-available;
        transform  : translateY(-4px);
        font-size  : 38px;
    }

    &-next::after {
        content    : "›";
        display    : flex;
        align-items: center;
        height     : -webkit-fill-available;
        transform  : translateY(-4px);
        font-size  : 38px;
    }

    &-slider {
        overflow: visible;
    }

    &-slide {
        width        : 70%;
        border-radius: 20px;
        overflow     : hidden;
        transition   : transform .4s, opacity .4s;
        opacity      : .6;
        aspect-ratio : 2;
        cursor: move;

        @media screen and (max-width: 1199px) {
            aspect-ratio: 16/9;
            width: 100% !important;
        }

        img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
            display   : block;
        }
    }

    &-slide-active {
        transform: scale(1);
        opacity  : 1;
    }

    &-slide-next,
    &-slide-prev {
        opacity  : .8;
        transform: scale(.9);
    }
}