:root {
    --white     : #ffffff;
    --black     : #0e0e0e;
    --light-gray: #f8f8f8;
    --gray      : #ececec;
    --dark-gray : #878787;
    --yellow    : #feba22;
    --blue      : #082D53;
    --dark-blue : #001f3f;
    --light-blue: #1D69B7;

    --radius: 20px;

    --move: 100px;
}