:root {
    --font-heading: "Lilita One Ukr", cursive;
    --font-body   : "Open Sans", sans-serif;

    --line-height: 120%;

    --color-card        : #ffffff;
    --color-text        : #0e0e0e;
    --color-gray-light  : #f8fbfd;
    --color-gray        : #878787;
    --color-gray-dark   : #4F4F4F;
    --color-yellow-light: #ffeb3b;
    --color-yellow      : #ecb90e;
    --color-yellow-dark : #b88d00;
    --color-blue-light  : #4694bb;
    --color-blue        : #245a75;
    --color-blue-dark   : #151744;
    --color-green-light : #aeea00;
    --color-green       : #0fb133;
    --color-green-dark  : #0b8a26;
    --color-violet      : #4b2c5e;
    --color-red         : #e73747;
    --color-red-dark    : #c5000a;

    --radius: clamp(15px, 4vw, 30px);
    --container: 1720px;
    --move: 100px;
    --padding-x: clamp(20px, 4vw, 35px);
    --padding-y: clamp(4px, 2vw, 12px);
    --padding: var(--padding-y) var(--padding-x);
    --space: clamp(15px, 3vw, 25px);
    --transition: all .3s ease .3s;
    --shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}